@model IEnumerable<UniversityBusiness.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-danger">Create New</a>
</p>
@using (Html.BeginForm("Index", "Student", FormMethod.Post))
{
    <div class="container">
        <div class="row">
            <div class="col">
                @Html.TextBox("SearchString", TempData["searchString"], null, new { @class = "form-control", @placeholder = "Enter keywords to search for" })
            </div>
            <div class="col">
                @Html.DropDownList("specializationId", (IEnumerable<SelectListItem>)ViewBag.Specialization, "All Specialization", new { @class = "form-control" })
            </div>
            <div class="col">
                <input type="submit" class="btn btn-danger" value="Tìm kiếm" />
            </div>

        </div>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecializationId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Specialization.SpecializationName)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StudentId }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Details", "Details", new { id = item.StudentId }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.StudentId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
